body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #333; }

a {
  color: #333;
  text-decoration: none !important; }

button {
  cursor: pointer;
  outline: none; }

button:focus, .btn-primary:focus {
  outline: none; }

.btn {
  border-radius: 20px;
  font-weight: bold;
  padding: 11px 40px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff; }

.btn-default, a.btn-default {
  background-color: #ffd528;
  color: #050601; }

.btn-primary {
  background-color: #006ca5; }

.btn-primary:hover {
  background-color: #00a2d9;
  border-color: #00a2d9; }

.btn-red {
  background-color: #d32701; }

.btn-pink {
  background-color: #ed2480; }

.btn-transparent {
  background-color: transparent;
  border: 1px solid #fff; }

a.btn-red, a.btn-primary, a.btn-pink {
  color: #fff; }

h4 {
  font-weight: bold;
  color: #006ca5;
  font-size: 24px;
  text-transform: uppercase; }

.bg-beige {
  background-color: #faf9f5; }

.border-beige {
  width: 100%;
  height: 3px;
  border: 3px solid #dcd3be;
  margin-bottom: 2px; }

.border-beige.small {
  height: 1px;
  border-width: 1px;
  border-bottom: 0; }

/* owl carousel */
.owl-stage-outer {
  margin-bottom: 50px; }

.owl-dots {
  position: absolute;
  display: block;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto; }

.owl-dot {
  display: inline-block;
  width: 60px;
  height: 10px;
  border: 1px solid #dcd3be; }

.owl-dot:not(:last-child) {
  margin-right: 10px; }

.owl-dot.active, .owl-dot:hover {
  background-color: #dcd3be; }

.owl-prev, .owl-next {
  position: absolute;
  top: 22%; }

.owl-prev {
  left: 18px; }

.owl-next {
  right: 18px; }

.owl-carousel .owl-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.owl-carousel .owl-stage::after {
  display: none; }

.owl-carousel .owl-item {
  float: none; }

.owl-carousel {
  margin-top: 9px;
  padding: 0 30px 1px; }

.discount-badge {
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 80px;
  height: 80px;
  background-color: #ffd528;
  border-radius: 100%;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 18px;
  text-align: center;
  color: #003d5e;
  line-height: 1;
  z-index: 5; }
  .discount-badge span {
    display: block;
    font-size: 36px; }
    .discount-badge span small {
      font-size: 14px; }
  .discount-badge .specile {
    padding-top: 6px; }

.bg-white {
  background-color: #fff;
  padding-bottom: 20px; }

.relative {
  position: relative; }

.arrow-menu {
  display: inline-block;
  width: 12px;
  height: 7px;
  background-image: url(../img/icons/arrow-menu.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.borders-bottom {
  width: 100%;
  height: 6px;
  border-top: 1px solid #dcd3be;
  border-bottom: 3px solid #dcd3be; }

input[type=checkbox], input[type=radio] {
  display: none; }

.radio-button + label {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #d1d1d1;
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
  padding: 2px; }

.radio-button:checked + label:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: #006ca5;
  border-radius: 100%; }

.mini-header {
  width: 100%;
  margin-bottom: 3px; }
  .mini-header .float-left {
    padding-top: 13px;
    font-size: 14px; }
  .mini-header .list-inline {
    margin-bottom: 0; }
  .mini-header .list-inline-item {
    position: relative;
    height: 100%;
    font-size: 13px;
    text-transform: uppercase;
    color: #333333;
    position: relative;
    cursor: pointer;
    margin: 0;
    line-height: 30px; }
    .mini-header .list-inline-item .dropdown-menu {
      background-color: transparent;
      border: none;
      border-radius: 0; }
    .mini-header .list-inline-item .dropdowns {
      position: relative;
      width: 200px;
      z-index: 40;
      padding: 12px;
      text-align: left;
      background-color: #ebe6da;
      cursor: auto; }
      .mini-header .list-inline-item .dropdowns ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none; }
        .mini-header .list-inline-item .dropdowns ul li {
          font-size: 13px;
          line-height: 1;
          margin-bottom: 15px;
          text-transform: none; }
          .mini-header .list-inline-item .dropdowns ul li b {
            position: relative;
            display: inline-block;
            width: 16px;
            height: 16px;
            background-color: #ec282f;
            color: #fff;
            text-align: center;
            border-radius: 100%;
            margin-left: 4px;
            line-height: 16px; }
      .mini-header .list-inline-item .dropdowns .list-border li {
        text-transform: uppercase;
        border-top: 1px solid #f5f3ed;
        padding: 12px 0;
        margin: 0; }
      .mini-header .list-inline-item .dropdowns .list-border li:last-child {
        padding-bottom: 0; }
    .mini-header .list-inline-item .dropdowns.d-cart {
      width: 310px;
      padding: 20px;
      left: initial;
      right: 0; }
      .mini-header .list-inline-item .dropdowns.d-cart li {
        color: #333333;
        font-size: 14px; }
        .mini-header .list-inline-item .dropdowns.d-cart li .border-beige {
          margin: 10px 0;
          border-color: #f5f3ed; }
      .mini-header .list-inline-item .dropdowns.d-cart li:last-child {
        margin: 0; }
        .mini-header .list-inline-item .dropdowns.d-cart li:last-child a {
          color: #006ca5;
          font-weight: bold; }
      .mini-header .list-inline-item .dropdowns.d-cart h6 {
        color: #006ca5;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 15px; }
      .mini-header .list-inline-item .dropdowns.d-cart .margin-bottom {
        margin-bottom: 15px; }
      .mini-header .list-inline-item .dropdowns.d-cart span {
        font-weight: bold; }
      .mini-header .list-inline-item .dropdowns.d-cart .price-total {
        margin: 18px 0 5px;
        font-size: 16px; }
      .mini-header .list-inline-item .dropdowns.d-cart .list-cover .background {
        width: 95px;
        height: 125px; }
      .mini-header .list-inline-item .dropdowns.d-cart .offer .combo, .mini-header .list-inline-item .dropdowns.d-cart .offer .all, .mini-header .list-inline-item .dropdowns.d-cart .offer .carta, .mini-header .list-inline-item .dropdowns.d-cart .offer .digital, .mini-header .list-inline-item .dropdowns.d-cart .offer .prod {
        width: 95px; }
      .mini-header .list-inline-item .dropdowns.d-cart .offer .combo .first-cover {
        left: 5px; }
        .mini-header .list-inline-item .dropdowns.d-cart .offer .combo .first-cover img {
          width: 62px;
          height: 85px; }
      .mini-header .list-inline-item .dropdowns.d-cart .offer .combo .second-cover {
        top: 33px; }
        .mini-header .list-inline-item .dropdowns.d-cart .offer .combo .second-cover img {
          width: 64px;
          height: 86px; }
      .mini-header .list-inline-item .dropdowns.d-cart .offer .all .first-cover {
        left: 5px; }
        .mini-header .list-inline-item .dropdowns.d-cart .offer .all .first-cover img {
          width: 86px;
          height: 112px; }
      .mini-header .list-inline-item .dropdowns.d-cart .offer .all .second-cover {
        bottom: 13px;
        right: 6px; }
        .mini-header .list-inline-item .dropdowns.d-cart .offer .all .second-cover img {
          width: 48px;
          height: 63px; }
      .mini-header .list-inline-item .dropdowns.d-cart .offer .carta .first-cover {
        left: 5px; }
        .mini-header .list-inline-item .dropdowns.d-cart .offer .carta .first-cover img {
          width: 86px;
          height: 118px; }
      .mini-header .list-inline-item .dropdowns.d-cart .offer .digital .first-cover {
        top: 12px;
        left: 12px;
        right: 12px;
        bottom: 19px; }
        .mini-header .list-inline-item .dropdowns.d-cart .offer .digital .first-cover img {
          width: 100%;
          height: 100%; }
      .mini-header .list-inline-item .dropdowns.d-cart .offer .prod {
        height: 125px; }
        .mini-header .list-inline-item .dropdowns.d-cart .offer .prod .first-cover {
          width: 100%;
          height: 125px; }
          .mini-header .list-inline-item .dropdowns.d-cart .offer .prod .first-cover img {
            width: 100%;
            height: 100%; }
  .mini-header .list-inline-item.active {
    background-color: #ebe6da; }
  .mini-header .list-inline-item:not(:first-child) {
    padding-left: 10px; }
  .mini-header .list-inline-item:not(:first-child):before {
    content: '';
    position: absolute;
    top: 10px;
    left: -1px;
    display: inline-block;
    width: 10px;
    height: 12px;
    padding: 2px;
    border-left: 1px solid #787776; }
  .mini-header .list-inline-item.cart-item:before {
    top: 18px;
    left: 6px;
    padding-left: 0; }
  .mini-header .list-inline-item:last-child {
    color: #016da6;
    padding-right: 15px; }
  .mini-header .list-inline-item.cart-item .hide-578 {
    position: relative;
    display: inline-block;
    height: 100%; }
  .mini-header .list-inline-item.cart-item .dropdown-menu {
    max-height: 500px;
    overflow: auto; }
  .mini-header .nav-icon {
    position: relative;
    display: inline-block;
    top: 5px;
    width: 23px;
    height: 21px;
    margin-left: 7px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .mini-header .user-icon {
    background-image: url(../img/icons/user.png); }
  .mini-header .cart-icon {
    background-image: url(../img/icons/cart.png);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .mini-header .cart-number, .mini-header .user-number {
    position: absolute;
    background-color: #ffd528;
    border-radius: 100%;
    font-size: 13px;
    font-weight: bold;
    color: #003d5e;
    padding: 0 2px;
    top: -6px;
    right: -13px;
    min-width: 20px;
    height: 20px;
    text-align: center;
    line-height: 1.4; }
  .mini-header .user-number {
    background-color: red;
    right: -8px; }
  .mini-header .dropdown {
    padding: 7px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .mini-header .dropdown .arrow-menu {
      background-image: url(../img/icons/arrow-menu-black.png); }
  .mini-header .dropdown.show {
    background-color: #ebe6da; }
    .mini-header .dropdown.show .cart-icon {
      background-image: url(../img/icons/cart-black.png); }
    .mini-header .dropdown.show .arrow-menu {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .mini-header .dropdown-menu {
    margin: 0;
    padding: 0; }

.navbar {
  padding: 8px 0 0; }
  .navbar .logo-left {
    float: left; }
  .navbar .search-right {
    float: right;
    margin-top: 7px;
    z-index: 555; }
  .navbar .primary-menu {
    color: #006ca5;
    font-weight: bold;
    font-size: 14px;
    margin: 0; }
    .navbar .primary-menu li {
      margin: 8px 0;
      padding: 10px;
      cursor: pointer; }
      .navbar .primary-menu li a {
        color: #006ca5; }
    .navbar .primary-menu li.show {
      background-color: #ebe6da;
      color: #333; }
      .navbar .primary-menu li.show .arrow-menu {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        background-image: url(../img/icons/arrow-menu-black.png); }
  .navbar .mega-menu {
    width: 100%; }
    .navbar .mega-menu .container {
      position: static; }
    .navbar .mega-menu .dropdown {
      position: static; }
      .navbar .mega-menu .dropdown .dropdown-menu {
        top: 91%;
        left: 0;
        right: 0;
        border-radius: 0;
        background-color: #ebe6da;
        border: none;
        padding: 22px;
        cursor: auto;
        color: #333; }
        .navbar .mega-menu .dropdown .dropdown-menu .close-dropdown-mobile {
          display: none;
          position: absolute;
          width: 14px;
          height: 13px;
          top: -71px;
          right: 13px;
          background-image: url(../img/icons/close.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain; }
        .navbar .mega-menu .dropdown .dropdown-menu .padding-left {
          padding-left: 0; }
        .navbar .mega-menu .dropdown .dropdown-menu h5 {
          color: #006ca5;
          font-size: 30px;
          margin-bottom: 8px; }
        .navbar .mega-menu .dropdown .dropdown-menu ul {
          display: block;
          margin: 0;
          padding: 0;
          list-style: none; }
          .navbar .mega-menu .dropdown .dropdown-menu ul li {
            font-size: 16px;
            font-weight: normal;
            padding: 0;
            line-height: 1; }
            .navbar .mega-menu .dropdown .dropdown-menu ul li a {
              color: #333; }
        .navbar .mega-menu .dropdown .dropdown-menu .border-beige {
          border-color: #f7f3e8;
          margin: 20px 0; }
        .navbar .mega-menu .dropdown .dropdown-menu .float-left a, .navbar .mega-menu .dropdown .dropdown-menu .bg-white h6 {
          font-weight: bold;
          font-size: 18px;
          text-transform: uppercase; }
        .navbar .mega-menu .dropdown .dropdown-menu .float-left a {
          color: #37342f; }
          .navbar .mega-menu .dropdown .dropdown-menu .float-left a img {
            margin-right: 5px; }
        .navbar .mega-menu .dropdown .dropdown-menu .float-right {
          cursor: pointer; }
        .navbar .mega-menu .dropdown .dropdown-menu .bg-white {
          padding: 23px 20px 10px; }
          .navbar .mega-menu .dropdown .dropdown-menu .bg-white h6 {
            color: #006ca5;
            line-height: 1;
            margin-bottom: 20px; }
          .navbar .mega-menu .dropdown .dropdown-menu .bg-white ul li a {
            color: #333; }

.search-nav, .btn-search, .btn-mobile {
  display: block;
  float: right; }

.search-nav {
  width: 190px;
  height: 40px;
  color: #333333;
  font-size: 14px;
  line-height: 1;
  padding: 10px 8px;
  border: 1px solid #dcd4bf;
  font-family: "Open Sans", sans-serif; }

.btn-search {
  width: 40px;
  height: 40px;
  background-color: #dcd4bf;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(../img/icons/search.png);
  background-size: 19px;
  background-position: 40% center;
  background-repeat: no-repeat; }

.btn.btn-mobile {
  display: none;
  width: 23%;
  padding: 11px 5px;
  height: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 14px; }

.search-mobile, .burger-menu {
  display: none;
  cursor: pointer; }

.burger-menu {
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  font-size: 10px;
  margin: 15px 0; }
  .burger-menu .d-block {
    width: 30px;
    height: 15px;
    background-image: url(../img/icons/burger-menu-black.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }

.burger-menu.collapsed {
  color: #006ca5; }
  .burger-menu.collapsed .d-block {
    background-image: url(../img/icons/burger-menu.png); }

.search-mobile {
  position: fixed;
  width: 23.5%;
  bottom: 0;
  right: 0;
  height: 40px;
  background-image: url(../img/icons/search-blue.png);
  background-position: center;
  background-size: auto 48%;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.search-mobile.active {
  background-color: #ebe6da;
  background-image: url(../img/icons/search-black.png); }

.offert-news {
  background-color: #8c2300;
  border-bottom: 3px solid #dcd4bf;
  padding: 10px 5px;
  color: #fff;
  line-height: 1.2; }
  .offert-news a {
    font-weight: bold;
    color: #fff;
    margin-left: 3px; }

.carousel-banner {
  position: relative;
  margin-top: 2px;
  border-top: 1px solid #dcd4bf;
  width: 100%;
  overflow-x: hidden; }
  .carousel-banner .cd-hero-slider {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px; }
    .carousel-banner .cd-hero-slider li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%); }
      .carousel-banner .cd-hero-slider li .cd-full-width {
        width: 100%; }
        .carousel-banner .cd-hero-slider li .cd-full-width picture img {
          display: block;
          width: 100%;
          height: auto;
          margin: auto; }
    .carousel-banner .cd-hero-slider li.selected {
      position: relative;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
    .carousel-banner .cd-hero-slider li.move-left {
      /* slide hidden on the left */
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%); }
    .carousel-banner .cd-hero-slider li.is-moving, .carousel-banner .cd-hero-slider li.selected {
      /* the is-moving class is assigned to the slide which is moving outside the viewport */
      -webkit-transition: -webkit-transform 0.5s;
      transition: -webkit-transform 0.5s;
      -o-transition: transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s; }
  .carousel-banner .cd-slider-nav {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: block;
    text-align: center; }
    .carousel-banner .cd-slider-nav .list-inline {
      display: inline-block;
      margin-bottom: 0; }
      .carousel-banner .cd-slider-nav .list-inline .list-inline-item {
        width: 60px;
        height: 10px;
        border: 1px solid #fff;
        cursor: pointer; }
      .carousel-banner .cd-slider-nav .list-inline .list-inline-item.selected {
        background-color: #fff; }
      .carousel-banner .cd-slider-nav .list-inline .list-inline-item:not(:last-child) {
        margin-right: 10px; }
  .carousel-banner .padding-right {
    padding-right: 19px; }
  .carousel-banner .padding-left {
    padding-left: 19px; }

.flexbox {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 30px; }
  .flexbox .featured-item {
    width: 74.55%; }
    .flexbox .featured-item h4 {
      margin-bottom: 10px; }
  .flexbox .static-banner {
    width: 23.67%;
    padding: 20px;
    text-align: center; }
    .flexbox .static-banner .static-item {
      display: inline-block;
      width: 100%; }
      .flexbox .static-banner .static-item img {
        width: 100%;
        max-width: 100%; }
    .flexbox .static-banner .static-item:not(:last-child) {
      margin-bottom: 20px; }

.list-cover {
  position: relative;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0; }
  .list-cover .background {
    position: relative;
    width: 180px;
    height: 238px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .list-cover .first-cover, .list-cover .second-cover {
    position: absolute; }
    .list-cover .first-cover img, .list-cover .second-cover img {
      width: auto; }
  .list-cover .first-cover {
    top: 0;
    left: 7px; }

.offer {
  position: relative;
  display: block;
  width: 100%;
  height: 100%; }
  .offer .discount-badge {
    bottom: 20px; }
  .offer .combo, .offer .all, .offer .carta, .offer .digital, .offer .prod {
    position: relative;
    width: 180px;
    margin: auto; }
  .offer .combo .background {
    background-image: url(../img/bkg-combo.png); }
  .offer .combo .first-cover img {
    width: 118px;
    height: 162px; }
  .offer .combo .second-cover {
    top: 63px;
    right: 3px; }
    .offer .combo .second-cover img {
      width: 122px;
      height: 164px; }
  .offer .all .background {
    background-image: url(../img/bkg-all.png);
    z-index: 1; }
  .offer .all .first-cover img {
    width: 162px;
    height: 212px; }
  .offer .all .second-cover {
    bottom: 24px;
    right: 11px;
    z-index: 2; }
    .offer .all .second-cover img {
      width: 92px;
      height: 120px; }
  .offer .carta .background {
    background-image: url(../img/bkg-carta.png); }
  .offer .carta .first-cover img {
    width: 167px;
    height: 224px; }
  .offer .digital .background {
    background-image: url(../img/bkg-digital.png); }
  .offer .digital .first-cover {
    top: 22px;
    left: 22px;
    right: 22px;
    bottom: 35px; }
    .offer .digital .first-cover img {
      width: 100%;
      height: 100%; }
  .offer .prod {
    height: 238px; }
    .offer .prod .first-cover {
      width: 100%;
      height: 238px; }
      .offer .prod .first-cover img {
        width: 100%;
        height: 100%; }
  .offer .product-name {
    font-size: 16px;
    font-weight: bold;
    color: #006ca5;
    margin: 15px 0 135px;
    line-height: 19.2px; }
  .offer .product-data {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    padding: 0 10px; }
    .offer .product-data .product-number {
      font-size: 14px;
      line-height: 1;
      margin-bottom: 3px;
      overflow: hidden;
      line-break: break-all; }
    .offer .product-data .product-price {
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 10px; }
      .offer .product-data .product-price span {
        font-weight: bold;
        font-size: 20px; }
    .offer .product-data .visit-product {
      display: block;
      width: 100%;
      margin-top: 10px;
      text-transform: uppercase; }
      .offer .product-data .visit-product a {
        color: #006ca5; }

.special-offers, .wide-banner, .separate-banner, .additional-offers, .newsletter {
  display: block;
  width: 100%; }

.special-offers .owl-carousel {
  padding-top: 20px; }

.wide-banner, .separate-banner .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  padding: 13px 11px; }

.wide-banner a, .separate-banner .second-item a {
  position: absolute;
  bottom: 0;
  left: 0; }

.wide-banner {
  margin: 20px 0 33px; }
  .wide-banner h5 {
    font-size: 30px;
    font-weight: 300;
    color: #881800;
    line-height: 1.2;
    margin-bottom: 30px; }
  .wide-banner h6 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #3f1000; }

.separate-banner .item {
  width: 49%; }

.separate-banner h5 {
  font-size: 28px;
  font-weight: 300; }

.separate-banner h6 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0; }

.separate-banner .first-item h5 {
  color: #fff; }

.separate-banner .first-item h6 {
  color: #790a3d;
  margin-bottom: 5px; }

.separate-banner .first-item .btn {
  padding: 8px 20px; }

.separate-banner .second-item h5 {
  color: #881800;
  margin-bottom: 12px; }

.separate-banner .second-item h6 {
  color: #3f1000; }

.separate-banner .second-item .btn {
  padding: 11px 20px; }

.additional-offers {
  margin-top: 35px; }
  .additional-offers .border-beige {
    margin-bottom: 10px; }
  .additional-offers .flexbox {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 20px 10px 0; }
    .additional-offers .flexbox .offer {
      width: 20%;
      height: auto;
      margin-bottom: 25px; }
      .additional-offers .flexbox .offer .product-name {
        margin-bottom: 167px; }

.newsletter {
  margin: 20px 0;
  background-color: #006ca5;
  padding: 15px 22px;
  color: #fff;
  font-weight: bold;
  font-size: 14px; }
  .newsletter form {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .newsletter .btn-transparent {
    padding: 11px;
    max-width: 100%;
    width: 100%;
    overflow: hidden; }

.input-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 1;
  padding: 14px;
  border: none;
  width: 100%; }

.breadcrumb {
  margin: 20px 0 7px;
  padding: 0;
  background-color: transparent;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1; }
  .breadcrumb a {
    color: #006ca5; }

.breadcrumb-item + .breadcrumb-item::before {
  content: '>'; }

.breadcrumb-item.active {
  color: #333;
  text-transform: none; }

.scheda h1, .scheda h2 {
  color: #006ca5; }

.scheda h1 {
  font-size: 36px;
  margin: 20px 0 5px; }

.scheda h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px; }

.m-container {
  display: block;
  max-width: 960px;
  width: 100%;
  padding: 0 15px;
  margin: auto; }
  .m-container .flexbox {
    padding-top: 0; }
    .m-container .flexbox .first-item {
      width: 29%;
      padding: 0 18px 0 5px; }
      .m-container .flexbox .first-item .list-cover .background {
        width: 240px;
        height: 317px; }
      .m-container .flexbox .first-item .offer .combo, .m-container .flexbox .first-item .offer .all, .m-container .flexbox .first-item .offer .carta, .m-container .flexbox .first-item .offer .digital, .m-container .flexbox .first-item .offer .prod {
        width: 240px;
        margin: 0; }
      .m-container .flexbox .first-item .offer .combo .first-cover img {
        width: 158px;
        height: 215px; }
      .m-container .flexbox .first-item .offer .combo .second-cover {
        top: 84px;
        right: 4px; }
        .m-container .flexbox .first-item .offer .combo .second-cover img {
          width: 162px;
          height: 219px; }
      .m-container .flexbox .first-item .offer .all .first-cover img {
        width: 212px;
        height: 283px; }
      .m-container .flexbox .first-item .offer .all .second-cover {
        bottom: 33px;
        right: 16px; }
        .m-container .flexbox .first-item .offer .all .second-cover img {
          width: 121px;
          height: 159px; }
      .m-container .flexbox .first-item .offer .carta .first-cover img {
        width: 225px;
        height: 298px; }
      .m-container .flexbox .first-item .offer .digital .first-cover {
        top: 29px;
        left: 29px;
        right: 29px;
        bottom: 48px; }
        .m-container .flexbox .first-item .offer .digital .first-cover img {
          width: 100%;
          height: 100%; }
      .m-container .flexbox .first-item .offer .prod {
        height: 317px; }
        .m-container .flexbox .first-item .offer .prod .first-cover {
          width: 100%;
          height: 317px; }
          .m-container .flexbox .first-item .offer .prod .first-cover img {
            width: 100%;
            height: 100%; }
    .m-container .flexbox .second-item {
      width: 71%;
      border: 1px solid red;
      padding-top: 18px; }
      .m-container .flexbox .second-item .block-radio-offer {
        position: relative;
        display: block;
        width: 100%; }

.product-full {
  padding: 29px 0 20px; }

footer {
  position: relative;
  display: block;
  width: 100%;
  color: #8c8a85;
  padding: 30px 0 130px;
  font-size: 14px; }
  footer h6 {
    font-size: 14px;
    color: #006ca5;
    font-weight: bold;
    margin-bottom: 23px; }
  footer .menu-footer {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1; }
    footer .menu-footer li {
      margin-bottom: 10px; }
      footer .menu-footer li a {
        color: #006ca5; }
  footer .flexbox {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
    padding-top: 0; }
  footer .brand-logo {
    display: block;
    margin-bottom: 10px; }
  footer .brand-logo:not(:last-child) {
    margin-right: 10px; }
  footer .copyright {
    margin-top: 15px;
    font-size: 12px;
    line-height: 1.3; }

@media only screen and (min-width: 1170px) {
  .container {
    width: 1140px; } }

@media only screen and (max-width: 1170px) {
  .additional-offers .flexbox .offer {
    width: 25%; }
  .container {
    width: 100%; } }

@media only screen and (max-width: 1200px) {
  .offert-news {
    padding: 10px 0; }
  .owl-prev {
    left: 8px; }
  .owl-next {
    right: 8px; }
  .btn {
    padding: 11px 26px; }
  .newsletter .btn-transparent {
    padding: 11px 8px;
    font-size: 15px; }
  .carousel-banner .cd-hero-slider li .cd-full-width picture img {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover; } }

@media only screen and (min-width: 991px) {
  .navbar .mega-menu .collapse {
    display: block; } }

/*Tablet version*/
@media only screen and (max-width: 991px) {
  .additional-offers .flexbox .offer {
    width: 33.33333333%; }
  .burger-menu {
    display: block; }
  .navbar .search-right {
    position: absolute;
    float: none;
    margin-top: 0;
    right: 15px;
    top: 130%; }
  .navbar .mega-menu .dropdown {
    position: relative; }
    .navbar .mega-menu .dropdown .dropdown-menu {
      padding: 20px;
      top: 92%; }
      .navbar .mega-menu .dropdown .dropdown-menu .padding-left {
        margin-top: 15px;
        padding-left: 15px; }
  .navbar .primary-menu li {
    position: relative;
    display: block; } }

@media only screen and (max-width: 768px) {
  .hide-768 {
    display: none; }
  .flexbox .static-banner, .flexbox .featured-item {
    width: 100%; }
  .flexbox .static-banner {
    margin-top: 20px; }
    .flexbox .static-banner .static-item {
      width: 30%;
      margin: 0 5px; }
      .flexbox .static-banner .static-item img {
        width: auto; }
  .additional-offers .flexbox .offer {
    width: 50%; }
  .newsletter form {
    margin: 8px 0; }
  .wide-banner a, .separate-banner .second-item a {
    position: relative;
    margin-top: 10px; }
  .separate-banner .item {
    width: 100%;
    margin-bottom: 10px; }
  .carousel-banner .cd-hero-slider {
    min-height: 50px; }
    .carousel-banner .cd-hero-slider li .cd-full-width picture img {
      width: 100%;
      height: auto; }
  /* footer */
  footer {
    padding: 30px 0; }
    footer .flexbox {
      margin-top: 30px; } }

/* mobile */
@media only screen and (max-width: 578px) {
  .flexbox .static-banner .static-item {
    width: 100%;
    margin: 0 5px; }
    .flexbox .static-banner .static-item img {
      width: auto; }
  .additional-offers .flexbox .offer {
    width: 100%; }
    .additional-offers .flexbox .offer .product-name {
      margin-bottom: 10px; }
  .newsletter .btn-transparent {
    margin-top: 10px; }
  .hide-578 {
    display: none !important; }
  .search-right {
    display: none;
    background-color: #ebe6da;
    padding: 10px 15px 15px; }
  .btn.btn-mobile {
    display: block; }
  .search-nav {
    width: 77%; }
  .mini-header {
    position: fixed;
    width: 50%;
    bottom: -5px;
    left: 25%;
    z-index: 60;
    background-color: #fff;
    height: 40px; }
    .mini-header .list-inline {
      height: 40px; }
    .mini-header .list-inline-item:not(:first-child):before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 0;
      height: 0;
      padding: 0;
      border-left: none; }
    .mini-header .list-inline-item {
      line-height: 39px;
      height: 40px; }
      .mini-header .list-inline-item .dropdown-menu {
        margin: 0;
        padding: 0; }
      .mini-header .list-inline-item .dropdown-menu-right {
        position: fixed;
        bottom: 37px;
        left: 0;
        right: 0;
        top: 80px;
        overflow: auto; }
      .mini-header .list-inline-item .dropdowns, .mini-header .list-inline-item .dropdowns.d-cart {
        width: 100%; }
      .mini-header .list-inline-item .dropdowns.d-cart .col-5 {
        max-width: 30%;
        padding-right: 0; }
      .mini-header .list-inline-item .dropdowns.d-cart .col-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 70%;
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%; }
    .mini-header .list-inline-item.second-item {
      position: absolute;
      left: 0;
      top: 10px;
      line-height: 1;
      height: 40px;
      width: 35%; }
    .mini-header .list-inline-item.cart-item {
      position: absolute;
      left: 50%;
      padding: 0;
      width: 53%; }
      .mini-header .list-inline-item.cart-item .dropdown-menu {
        max-height: 100%; }
      .mini-header .list-inline-item.cart-item .dropdown {
        width: 100%;
        height: 40px; }
        .mini-header .list-inline-item.cart-item .dropdown .nav-icon {
          display: block;
          top: 6px;
          margin-left: 35%; }
      .mini-header .list-inline-item.cart-item .dropdown.show {
        background-color: #ebe6da; }
    .mini-header .nav-icon {
      top: 0px;
      width: 18px;
      height: 18px; }
  .navbar {
    background-color: #faf9f5; }
    .navbar .search-right {
      position: fixed;
      right: 0;
      left: 0;
      top: initial;
      bottom: 40px; }
    .navbar .mega-menu {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 50;
      background-color: #fff;
      height: 40px; }
      .navbar .mega-menu .container {
        height: 100%;
        padding: 0; }
      .navbar .mega-menu .burger-menu, .navbar .mega-menu .search-mobile {
        display: block; }
      .navbar .mega-menu .burger-menu {
        width: 25%;
        margin: 0;
        padding: 4px 15px;
        background-color: #ebe6da;
        text-align: center;
        height: 42px; }
        .navbar .mega-menu .burger-menu .d-block {
          margin: auto; }
      .navbar .mega-menu .burger-menu.collapsed {
        background-color: #fff; }
      .navbar .mega-menu .collapse {
        position: fixed;
        top: 77px;
        bottom: 39px;
        left: 0;
        right: 0;
        background-color: #ebe6da;
        z-index: 5555;
        padding: 40px 20px 20px;
        overflow: auto; }
      .navbar .mega-menu .dropdown .dropdown-menu {
        padding-top: 0; }
        .navbar .mega-menu .dropdown .dropdown-menu .padding-left {
          margin-top: 0; }
        .navbar .mega-menu .dropdown .dropdown-menu .close-dropdown-mobile {
          display: block; }
        .navbar .mega-menu .dropdown .dropdown-menu h5 {
          font-size: 22px; }
        .navbar .mega-menu .dropdown .dropdown-menu ul li {
          font-size: 14px;
          padding: 6px 0px; }
        .navbar .mega-menu .dropdown .dropdown-menu .bg-white {
          background-color: #faf9f5;
          margin-top: 15px; }
      .navbar .mega-menu .dropdown.show .btn-dropdown {
        padding-bottom: 12px;
        border-bottom: 1px solid #fff; }
    .navbar .logo-left {
      float: none; }
      .navbar .logo-left img {
        margin: 15px auto;
        display: block; }
  .carousel-banner .cd-hero-slider li .cd-full-width .hero-slider-bkg {
    width: 207px;
    height: 204px; }
    .carousel-banner .cd-hero-slider li .cd-full-width .hero-slider-bkg .first-cover {
      width: 141px; }
    .carousel-banner .cd-hero-slider li .cd-full-width .hero-slider-bkg .second-cover {
      bottom: 13px;
      right: 12px; }
      .carousel-banner .cd-hero-slider li .cd-full-width .hero-slider-bkg .second-cover img {
        width: 86px;
        height: 114px; }
  .carousel-banner .cd-hero-slider li .cd-full-width .carousel-title {
    margin-bottom: 12px;
    border-bottom-width: 1px; }
  .carousel-banner .cd-hero-slider li .cd-full-width .carousel-description {
    position: absolute;
    top: 100%;
    left: -92%;
    right: 15px;
    margin: 10px 0; }
  .product-body {
    width: calc(100% - 150px);
    float: left;
    text-align: left;
    padding-left: 15px; }
  .list-cover .background {
    width: 150px;
    height: 198px; }
  .offer .combo, .offer .all, .offer .carta, .offer .digital, .offer .prod {
    width: 150px;
    height: 198px;
    float: left; }
  .offer .discount-badge {
    bottom: 10px; }
  .offer .product-name {
    margin: 5px 0 10px;
    font-size: 14px; }
  .offer .product-data {
    position: relative;
    width: 100%;
    padding: 0; }
  .offer .combo .first-cover img {
    width: 100px;
    height: 135px; }
  .offer .combo .second-cover {
    top: 53px; }
    .offer .combo .second-cover img {
      width: 100px;
      height: 136px; }
  .offer .all .first-cover img {
    width: 134px;
    height: 177px; }
  .offer .all .second-cover {
    right: 10px;
    bottom: 20px; }
    .offer .all .second-cover img {
      width: 76px;
      height: 100px; }
  .offer .carta .first-cover img {
    width: 138px;
    height: 186px; }
  .offer .digital .first-cover {
    top: 19px;
    left: 19px;
    right: 19px;
    bottom: 30px; }
  .offer .prod {
    height: 198px; }
    .offer .prod .first-cover {
      height: 198px; }
  .offer .btn-primary {
    max-width: 200px;
    width: 100%;
    padding: 12px 5px;
    font-size: 14px; } }

@media only screen and (max-width: 425px) {
  .owl-dot {
    width: 40px; }
  .carousel-banner .cd-slider-nav .list-inline .list-inline-item {
    width: 50px; }
  .owl-carousel {
    padding: 1px 15px; }
  .product-body {
    width: calc(100% - 150px);
    float: left;
    text-align: left;
    padding-left: 15px; }
  .list-cover .background {
    width: 150px;
    height: 198px; }
  .offer .combo, .offer .all, .offer .carta, .offer .digital, .offer .prod {
    width: 150px;
    height: 198px;
    float: left; }
  .offer .discount-badge {
    bottom: 10px; }
  .offer .product-name {
    margin: 5px 0 10px;
    font-size: 14px; }
  .offer .product-data {
    position: relative;
    width: 100%;
    padding: 0; }
  .offer .combo .first-cover img {
    width: 100px;
    height: 135px; }
  .offer .combo .second-cover {
    top: 53px; }
    .offer .combo .second-cover img {
      width: 100px;
      height: 136px; }
  .offer .all .first-cover img {
    width: 134px;
    height: 177px; }
  .offer .all .second-cover {
    right: 10px;
    bottom: 20px; }
    .offer .all .second-cover img {
      width: 76px;
      height: 100px; }
  .offer .carta .first-cover img {
    width: 138px;
    height: 186px; }
  .offer .digital .first-cover {
    top: 19px;
    left: 19px;
    right: 19px;
    bottom: 30px; }
  .offer .prod {
    height: 198px; }
    .offer .prod .first-cover {
      height: 198px; }
  .offer .btn-primary {
    width: 100%;
    padding: 12px 5px;
    font-size: 14px; }
  .flexbox .static-banner .static-item {
    width: 100%; }
    .flexbox .static-banner .static-item img {
      width: 100%; }
  .additional-offers .flexbox .offer .product-name {
    margin-bottom: 10px; }
  .carousel-banner .cd-hero-slider li .cd-full-width .hero-slider-bkg {
    width: 162px;
    height: 160px; }
    .carousel-banner .cd-hero-slider li .cd-full-width .hero-slider-bkg .first-cover {
      width: 114px; }
    .carousel-banner .cd-hero-slider li .cd-full-width .hero-slider-bkg .second-cover {
      bottom: 11px;
      right: 9px; }
      .carousel-banner .cd-hero-slider li .cd-full-width .hero-slider-bkg .second-cover img {
        width: 68px;
        height: 88px; }
  .carousel-banner .cd-hero-slider li .cd-full-width .carousel-title {
    font-size: 35px;
    margin-top: 46px; }
  .carousel-banner .cd-hero-slider li .cd-full-width .carousel-container .btn {
    padding: 9px 14px;
    font-size: 14px; }
  .dropdowns.d-cart .offer .combo, .dropdowns.d-cart .offer .all, .dropdowns.d-cart .offer .carta, .dropdowns.d-cart .offer .digital, .dropdowns.d-cart .offer .prod {
    width: 115px;
    height: 125px; }
  /* footer */
  footer {
    padding-bottom: 60px; } }

@media only screen and (max-width: 356px) {
  .carousel-banner .cd-slider-nav .list-inline .list-inline-item {
    width: 40px; }
  .owl-carousel {
    padding: 1px 5px; }
  .offer .product-data .product-price {
    font-size: 14px; }
    .offer .product-data .product-price span {
      font-size: 16px; }
  .offer .btn-primary {
    padding: 10px 5px;
    font-size: 12px; }
  .dropdowns.d-cart .col-7 {
    padding-left: 30px; } }

/*# sourceMappingURL=style.css.map */