.offert-news {
	background-color: #8c2300;
	border-bottom: 3px solid #dcd4bf;
	padding: 10px 5px;
	color: #fff;
	line-height: 1.2;
	a {
		font-weight: bold;
		color: #fff;
		margin-left: 3px;
	}
}
.carousel-banner {
	position: relative;
	margin-top: 2px;
	border-top: 1px solid #dcd4bf;
	width: 100%;
	overflow-x: hidden;
	.cd-hero-slider {
		margin: 0;
		padding: 0;
		list-style: none;
		background-color: grey;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 400px;
		li {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translateX(100%);
			.cd-full-width {
				width: 100%;
				picture {
					img {
						display: block;
						width: 100%;
						height: auto;
						margin: auto;
					}
				}
			}
		}
		li.selected {
			position: relative;
			transform: translateX(0);
		}
		li.move-left {
		  /* slide hidden on the left */
		  transform: translateX(-100%);
		}
		li.is-moving, li.selected {
		  /* the is-moving class is assigned to the slide which is moving outside the viewport */
		  transition: transform 0.5s;
		}
	}
	.cd-slider-nav {
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		display: block;
		text-align: center;
		.list-inline {
			display: inline-block;
			margin-bottom: 0;
			.list-inline-item {
				width: 60px;
				height: 10px;
				border: 1px solid #fff;
				cursor: pointer;
			}
			.list-inline-item.selected {
				background-color: #fff;
			}
			.list-inline-item:not(:last-child) {
			    margin-right: 10px;
			}
		}
	}
	.padding-right {
		padding-right: 19px;
	}
	.padding-left {
		padding-left: 19px;
	}
}
.flexbox {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 30px;
	.featured-item {
		width: 74.55%;
		h4 {
			margin-bottom: 10px;
		}
	}
	.static-banner {
		width: 23.67%;
		padding: 20px;
		text-align: center;
		.static-item {
			display: inline-block;
			width: 100%;
			img {
				width: 100%;
				max-width: 100%;
			}
		}
		.static-item:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
.list-cover {
	position: relative;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	.background {
		position: relative;
		width: 180px;
		height: 238px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.first-cover, .second-cover {
		position: absolute;
		img {
			width: auto;
		}
	}
	.first-cover {
		top: 0;
		left: 7px;
	}
}
.offer {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	.discount-badge {
		bottom: 20px;
	}
	.combo, .all, .carta, .digital, .prod {
		position: relative;
		width: 180px;
		margin: auto;
	}
	.combo {
		.background {
			background-image: url(../img/bkg-combo.png);
		}
		.first-cover {
			img {
				width: 118px;
    			height: 162px;
			}
		}
		.second-cover {
			top: 63px;
			right: 3px;
			img {
				width: 122px;
    			height: 164px;
			}
		}
	}
	.all {
		.background {
			background-image: url(../img/bkg-all.png);
			z-index: 1;
		}
		.first-cover {
			img {
				width: 162px;
    			height: 212px;
			}
		}
		.second-cover {
			bottom: 24px;
			right: 11px;
			z-index: 2;
			img {
				width: 92px;
    			height: 120px;
			}
		}
	}
	.carta {
		.background {
			background-image: url(../img/bkg-carta.png);
		}
		.first-cover {
			img {
				width: 167px;
    			height: 224px;
			}
		}
	}
	.digital {
		.background {
			background-image: url(../img/bkg-digital.png);
		}
		.first-cover {
			top: 22px;
			left: 22px;
			right: 22px;
			bottom: 35px;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.prod {
		height: 238px;
		.first-cover {
			width: 100%;
			height: 238px;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.product-name {
		font-size: 16px;
		font-weight: bold;
		color: $blue;
		margin: 15px 0 135px;
		line-height: 19.2px;
	}
	.product-data {
		position: absolute;
		display: block;
		bottom: 0;
		width: 100%;
		padding: 0 10px;
		.product-number {
			font-size: 14px;
			line-height: 1;
			margin-bottom: 3px;
			overflow: hidden;
			line-break: break-all;
		}
		.product-price {
			font-size: 16px;
			line-height: 1.2;
			margin-bottom: 10px;
			span {
				font-weight: bold;
				font-size: 20px;
			}
		}
		.visit-product {
			display: block;
			width: 100%;
			margin-top: 10px;
			text-transform: uppercase;
			a {
				color: $blue;
			}
		}
	}
}
.special-offers, .wide-banner, .separate-banner, .additional-offers, .newsletter {
	display: block;
	width: 100%;
}
.special-offers {
	.owl-carousel {
		padding-top: 20px;
	}
}
.wide-banner, .separate-banner .item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center right;
	padding: 13px 11px;
	
}
.wide-banner, .separate-banner .second-item {
	a {
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
.wide-banner {
	margin: 20px 0 33px;
	h5 {
		font-size: 30px;
		font-weight: 300;
		color: #881800;
		line-height: 1.2;
		margin-bottom: 30px;
	}
	h6 {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		color: #3f1000;
	}
}
.separate-banner {
	.item {
		width: 49%;
	}
	h5 {
		font-size: 28px;
		font-weight: 300;
	}
	h6 {
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	.first-item {
		h5 {
			color: #fff;
		}
		h6 {
			color: #790a3d;
			margin-bottom: 5px;
		}
		.btn {
			padding: 8px 20px;
		}
	}
	.second-item {
		h5 {
			color: #881800;
			margin-bottom: 12px;
		}
		h6 {
			color: #3f1000;
		}
		.btn {
			padding: 11px 20px;
		}
	}
}
.additional-offers {
	margin-top: 35px;
	.border-beige {
		margin-bottom: 10px;
	}
	.flexbox {
		justify-content: flex-start;
		padding: 20px 10px 0;
		.offer {
			width: 20%;
			height: auto;
			margin-bottom: 25px;
			.product-name {
				margin-bottom: 167px;
			}
		}
	}
}
.newsletter {
	margin: 20px 0; 
	background-color: $blue;
	padding: 15px 22px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	form {
	    position: relative;
		top: 50%;
	    transform: translateY(-50%);
	}
	.btn-transparent {
		padding: 11px;
		max-width: 100%;
		width: 100%;
		overflow: hidden;
	}
}
.input-text {
	font-family: $of;
	font-size: 14px;
	color: #333333;
	line-height: 1;
	padding: 14px;
	border: none;
	width: 100%;
}

.breadcrumb {
	margin: 20px 0 7px;
	padding: 0;
	background-color: transparent;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 1;
	a {
		color: $blue;
	}
}
.breadcrumb-item+.breadcrumb-item::before {
	content: '>';
}
.breadcrumb-item.active {
	color: #333;
	text-transform: none;
}
.scheda {
	h1, h2 {
		color: $blue;
	}
	h1 {
		font-size: 36px;
		margin: 20px 0 5px;
	}
	h2 {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 25px;
	}
}
.m-container {
	display: block;
	max-width: 960px;
	width: 100%;
	padding: 0 15px;
	margin: auto;
	.flexbox {
		padding-top: 0;
		.first-item {
			width: 29%;
			padding: 0 18px 0 5px;
			.list-cover {
				.background {
					width: 240px;
					height: 317px;
				}
			}
			.offer {
				.combo, .all, .carta, .digital, .prod {
					width: 240px;
					margin: 0;
				}
				.combo {
					.first-cover {
						img {
							width: 158px;
    						height: 215px;
						}
					}
					.second-cover {
						top: 84px;
    					right: 4px;
						img {
							width: 162px;
    						height: 219px;
						}
					}
				}
				.all {
					.first-cover {
						img {
							width: 212px;
    						height: 283px;
						}
					}
					.second-cover {
						bottom: 33px;
    					right: 16px;
						img {
							width: 121px;
   							height: 159px;
						}
					}
				}
				.carta {
					.first-cover {
						img {
							width: 225px;
							height: 298px;
						}
					}
				}
				.digital {
					.first-cover {
						top: 29px;
						left: 29px;
						right: 29px;
						bottom: 48px;
						img {
							width: 100%;
							height: 100%;
						}
					}
				}
				.prod {
					height: 317px;
					.first-cover {
						width: 100%;
						height: 317px;
						img {
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
		.second-item {
			width: 71%;
			border: 1px solid red;
			padding-top: 18px;
			.block-radio-offer {
				position: relative;
				display: block;
				width: 100%;
			}
		}
	}
}
.product-full {
	padding: 29px 0 20px;
}