body {
	font-family: $of;
	font-weight: 400;
	color: $black;
}
a {
	color: $black;
	text-decoration: none !important;
}
button {
	cursor: pointer;
	outline: none;
}
button:focus, .btn-primary:focus {
	outline: none;
}
.btn {
	border-radius: 20px;
	font-weight: bold;
	padding: 11px 40px;
	line-height: 1;
	text-transform: uppercase;
	color: #fff;
}
.btn-default, a.btn-default {
	background-color: $yellow;
	color: #050601;
}
.btn-primary {
	background-color: $blue;
}
.btn-primary:hover {
	background-color: #00a2d9;
	border-color: #00a2d9; 
}
.btn-red {
	background-color: #d32701;
}
.btn-pink {
	background-color: #ed2480;
}
.btn-transparent {
	background-color: transparent;
	border: 1px solid #fff;
}
a.btn-red, a.btn-primary, a.btn-pink {
	color: #fff
}
h4 {
	font-weight: bold;
	color: #006ca5;
	font-size: 24px;
	text-transform: uppercase;
}
.bg-beige {
	background-color: #faf9f5;
}
.border-beige {
	width: 100%;
	height: 3px;
	border: 3px solid #dcd3be;
	margin-bottom: 2px;
}
.border-beige.small {
	height: 1px;
	border-width: 1px;
	border-bottom: 0;
}
/* owl carousel */
.owl-stage-outer {
	margin-bottom: 50px;
}
.owl-dots {
	position: absolute;
	display: block;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
	margin: auto;
}
.owl-dot {
	display: inline-block;
    width: 60px;
    height: 10px;
    border: 1px solid #dcd3be;
}
.owl-dot:not(:last-child) {
    margin-right: 10px;
}
.owl-dot.active, .owl-dot:hover  {
	background-color: #dcd3be;
}
.owl-prev, .owl-next {
	position: absolute;
	top: 22%;
}
.owl-prev {
	left: 18px;
}
.owl-next {
	right: 18px;
}
.owl-carousel .owl-stage
{
	display: flex;
	flex-direction: row;
}
.owl-carousel .owl-stage::after
{
	display: none;
}
.owl-carousel .owl-item
{
	float: none;
}
.owl-carousel {
	margin-top: 9px;
	padding: 0 30px 1px;
}
.discount-badge {
	position: absolute;
	bottom: 0;
	right: -10px;
	width: 80px;
	height: 80px;
	background-color: $yellow;
	border-radius: 100%;
	overflow: hidden;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 18px;
	text-align: center;
	color: #003d5e;
	line-height: 1;
	z-index: 5;
	span {
		display: block;
		font-size: 36px;
		small {
			font-size: 14px;
		}
	}
	.specile {
		padding-top: 6px;
	}
}
.bg-white {
	background-color: #fff;
	padding-bottom: 20px;
}
.relative {
	position: relative;
}
.arrow-menu {
	display: inline-block;
	width: 12px;
	height: 7px;
	background-image: url(../img/icons/arrow-menu.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 5px;
	transition: all .5s ease;
}
.borders-bottom {
	width: 100%;
	height: 6px;
	border-top: 1px solid #dcd3be;
	border-bottom: 3px solid #dcd3be;
}
input[type=checkbox], input[type=radio] {
	display: none;
}
.radio-button + label {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid #d1d1d1;
	background-color: #fff;
	border-radius: 100%;
	cursor: pointer;
	padding: 2px;
}
.radio-button:checked + label:before {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	background-color: $blue;
	border-radius: 100%;
}