@media only screen and (min-width: 1170px) {
	.container {
		width: 1140px;
	}
}
@media only screen and (max-width: 1170px) {
	.additional-offers .flexbox .offer {
	    width: 25%;
	}
	.container {
		width: 100%;
	}
}
@media only screen and (max-width: 1200px) {
	.offert-news {
		padding: 10px 0;
	}
	.owl-prev {
	    left: 8px;
	}
	.owl-next {
	    right: 8px;
	}
	.btn {
	    padding: 11px 26px;
	}
	.newsletter {
		.btn-transparent {
			padding: 11px 8px;
			font-size: 15px;
		}
	}
	.carousel-banner {
		.cd-hero-slider {
			li {
				.cd-full-width {
					picture {
						img {
							width: 100%;
							height: 400px;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 991px) {
	.navbar {
		.mega-menu {
			.collapse {
				display: block;
			}
		}
	}
}
/*Tablet version*/
@media only screen and (max-width: 991px) {
	.additional-offers .flexbox .offer {
	    width: 33.33333333%;
	}
	.burger-menu {
		display: block;
	}
	.navbar {
		.search-right {
		    position: absolute;
		    float: none;
		    margin-top: 0;
		    right: 15px;
		    top: 130%;
		}
		.mega-menu {
			.dropdown {
				position: relative;
				.dropdown-menu {
					padding: 20px;
					top: 92%;
		    		.padding-left {
		    			margin-top: 15px;
						padding-left: 15px;
					}
				}
			}
		}
		.primary-menu {
			li {
				position: relative;
				display: block;
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	.hide-768 {
		display: none;
	}
	.flexbox {
		.static-banner, .featured-item {
			width: 100%;
		}
		.static-banner {
	    	margin-top: 20px;
			.static-item {
    			width: 30%;
    			margin: 0 5px;
    			img {
    				width: auto;
    			}
			}	
		}
	}
	.additional-offers .flexbox .offer {
	    width: 50%;
	}
	.newsletter {
		form {
			margin: 8px 0;
		}
	}
	.wide-banner a, .separate-banner .second-item a {
	    position: relative;
	    margin-top: 10px;
	}
	.separate-banner .item {
	    width: 100%;
	    margin-bottom: 10px;
	}

	.carousel-banner {
		.cd-hero-slider {
			min-height: 50px;
			li {
				.cd-full-width {
					picture {
						img {
							width: 100%;
							height: auto;
						}
					}
				}
			}
		}
	}


	/* footer */
	footer {
		padding: 30px 0;
		.flexbox {
			margin-top: 30px;
		}
	}
}
/* mobile */
@media only screen and (max-width: 578px) {
	.flexbox {
		.static-banner {
			.static-item {
    			width: 100%;
    			margin: 0 5px;
    			img {
    				width: auto;
    			}
			}	
		}
	}


	.additional-offers .flexbox .offer {
	    width: 100%;
	    .product-name {
		    margin-bottom: 10px;
		}
	}
	.newsletter {
		.btn-transparent {
			margin-top: 10px;
		}
	}
	.hide-578 {
		display: none !important;
	}
	.search-right {
		display: none;
		background-color: #ebe6da;
		padding: 10px 15px 15px;
	}
	.btn.btn-mobile {
		display: block;
	}
	.search-nav {
		width: 77%;
	}
	.mini-header {
		position: fixed;
		width: 50%;
		bottom: -5px;
		left: 25%;
		z-index: 60;
		background-color: #fff;
		height: 40px;
		.list-inline {
		    height: 40px;
		}
		.list-inline-item:not(:first-child):before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: none;
			width: 0;
			height: 0;
			padding: 0;
			border-left: none;
		}
		.list-inline-item {
			line-height: 39px;
			height: 40px;
			.dropdown-menu {
			    margin: 0;
			    padding: 0;
			}
			.dropdown-menu-right {
				position: fixed;
			    bottom: 37px;
			    left: 0;
			    right: 0;
			    top: 80px;
			    overflow: auto;
			}
			.dropdowns, .dropdowns.d-cart {
			    width: 100%;
			}
			.dropdowns.d-cart {
				.col-5 {
					max-width: 30%;
					padding-right: 0;
				}
				.col-7 {
					flex: 0 0 70%;
					max-width: 70%;
				}
			}
		}
		.list-inline-item.second-item {
			position: absolute;
			left: 0;
			top: 10px;
			line-height: 1;
			height: 40px;
			width: 35%;
		}
		.list-inline-item.cart-item {
			position: absolute;
			left: 50%;
			padding: 0;
			width: 53%;
			.dropdown-menu {
				max-height: 100%;
			}
			.dropdown {
				width: 100%;
				height: 40px;
				.nav-icon {
					display: block;
					top: 6px;
					margin-left: 35%;
				}
			}
			.dropdown.show {
				background-color: #ebe6da;;
			}
		}
		.nav-icon {
			top: 0px;
		    width: 18px;
		    height: 18px;
		}
	}
	.navbar {
		background-color: #faf9f5;
		.search-right {
		    position: fixed;
		    right: 0;
		    left: 0;
		    top: initial;
		    bottom: 40px;
		}
		.mega-menu {
		    position: fixed;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    z-index: 50;
		    background-color: #fff;
		    height: 40px;
		    .container {
		    	height: 100%;
		    	padding: 0;
		    }
		    .burger-menu, .search-mobile {
		    	display: block;
		    }
		    .burger-menu {
		    	width: 25%;
		    	margin: 0;
		    	padding: 4px 15px;
		    	background-color: #ebe6da;
		    	text-align: center;
		    	height: 42px;
				.d-block {
					margin: auto;
				}
		    }
		    .burger-menu.collapsed {
		    	background-color: #fff;
		    }
		    .collapse {
		    	position: fixed;
		    	top: 77px;
				bottom: 39px;
				left: 0;
				right: 0;
				background-color: #ebe6da;
				z-index: 5555;
				padding: 40px 20px 20px;
				overflow: auto;
		    }
		    .dropdown {
		    	.dropdown-menu {
		    		padding-top: 0;
		    		.padding-left {
		    			margin-top: 0;
		    		}
		    		.close-dropdown-mobile {
		    			display: block;
		    		}
		    		h5 {
				    	font-size: 22px;
					}
		    		ul li {
						font-size: 14px;
						padding: 6px 0px;
		    		}
		    		.bg-white {
		    			background-color: #faf9f5;
					    margin-top: 15px;
					}
		    	}
			}
			.dropdown.show {
		    	.btn-dropdown {
		    		padding-bottom: 12px;
		    		border-bottom: 1px solid #fff;
		    	}
			}
		}
		.logo-left {
	    	float: none;
	    	img {
	    		margin: 15px auto;
    			display: block;
	    	}
		}
	}
	.carousel-banner {
		.cd-hero-slider {
			li {
				.cd-full-width {
					.hero-slider-bkg {
						width: 207px;
						height: 204px;
						.first-cover {
						    width: 141px;
						}
						.second-cover {
						    bottom: 13px;
						    right: 12px;
						    img {
						    	width: 86px;
    							height: 114px;
						    }
						}
					}
					.carousel-title {
					    margin-bottom: 12px;
					    border-bottom-width: 1px;
					}
					.carousel-description {
						position: absolute;
						top: 100%;
						left: -92%;
						right: 15px;
					    margin: 10px 0;
					}
				}
			}
		}
	}

	.product-body {
		width: calc(100% - 150px);
		float: left;
		text-align: left;
		padding-left: 15px;
	}
	.list-cover .background {
	    width: 150px;
	    height: 198px;
	}
	.offer .combo, .offer .all, .offer .carta, .offer .digital, .offer .prod {
	    width: 150px;
	    height: 198px;
	    float: left;
	}
	.offer {
		.discount-badge {
		    bottom: 10px;
		}
		.product-name  {
			margin: 5px 0 10px;
			font-size: 14px;
		}
		.product-data {
		    position: relative;
		    width: 100%;
		    padding: 0;
		}
		.combo {
			.first-cover {
				img {
					width: 100px;
    				height: 135px;
				}
			}
			.second-cover {
				top: 53px;
				img {
					width: 100px;
    				height: 136px;
				}
			}
		}
		.all {
			.first-cover {
				img {
					width: 134px;
    				height: 177px;
				}
			}
			.second-cover {
				right: 10px;
    			bottom: 20px;
				img {
					width: 76px;
   					height: 100px;
				}
			}
		}
		.carta {
			.first-cover {
				img {
					width: 138px;
    				height: 186px;
				}
			}
		}
		.digital {
			.first-cover {
				top: 19px;
			    left: 19px;
			    right: 19px;
			    bottom: 30px;
			}
		}
		.prod {
			height: 198px;
			.first-cover {
				height: 198px;
			}
		}
		.btn-primary {
			max-width: 200px;
			width: 100%;
			padding: 12px 5px;
			font-size: 14px;
		}
	}
}
@media only screen and (max-width: 425px) {
	.owl-dot {
		width: 40px;
	}
	.carousel-banner .cd-slider-nav .list-inline .list-inline-item {
		width: 50px;
	}
	.owl-carousel {
		padding: 1px 15px;
	}
	.product-body {
		width: calc(100% - 150px);
		float: left;
		text-align: left;
		padding-left: 15px;
	}
	.list-cover .background {
	    width: 150px;
	    height: 198px;
	}
	.offer .combo, .offer .all, .offer .carta, .offer .digital, .offer .prod {
	    width: 150px;
	    height: 198px;
	    float: left;
	}
	.offer {
		.discount-badge {
		    bottom: 10px;
		}
		.product-name  {
			margin: 5px 0 10px;
			font-size: 14px;
		}
		.product-data {
		    position: relative;
		    width: 100%;
		    padding: 0;
		}
		.combo {
			.first-cover {
				img {
					width: 100px;
    				height: 135px;
				}
			}
			.second-cover {
				top: 53px;
				img {
					width: 100px;
    				height: 136px;
				}
			}
		}
		.all {
			.first-cover {
				img {
					width: 134px;
    				height: 177px;
				}
			}
			.second-cover {
				right: 10px;
    			bottom: 20px;
				img {
					width: 76px;
   					height: 100px;
				}
			}
		}
		.carta {
			.first-cover {
				img {
					width: 138px;
    				height: 186px;
				}
			}
		}
		.digital {
			.first-cover {
				top: 19px;
			    left: 19px;
			    right: 19px;
			    bottom: 30px;
			}
		}
		.prod {
			height: 198px;
			.first-cover {
				height: 198px;
			}
		}
		.btn-primary {
			width: 100%;
			padding: 12px 5px;
			font-size: 14px;
		}
	}


	.flexbox .static-banner .static-item {
	    width: 100%;
	    img {
		    width: 100%;
		}
	}
	.additional-offers .flexbox .offer .product-name {
	    margin-bottom: 10px;
	}
	.carousel-banner {
		.cd-hero-slider {
			li {
				.cd-full-width {
					.hero-slider-bkg {
						width: 162px;
						height: 160px;
						.first-cover {
						    width: 114px;
						}
						.second-cover {
						    bottom: 11px;
						    right: 9px;
						    img {
						    	width: 68px;
    							height: 88px;
						    }
						}
					}
					.carousel-title {
						font-size: 35px;
						margin-top: 46px;
					}
					.carousel-container {
						.btn {
						    padding: 9px 14px;
						    font-size: 14px;
						}
					}
				}
			}
		}
	}

	.dropdowns.d-cart {
		.offer {
			.combo, .all, .carta, .digital, .prod {
				width: 115px; 
				height: 125px;
			}
		}
	}



	/* footer */
	footer {
		padding-bottom: 60px;
	}
}
@media only screen and (max-width: 356px) {
	.carousel-banner .cd-slider-nav .list-inline .list-inline-item {
	    width: 40px;
	}
	.owl-carousel {
		padding: 1px 5px;
	}
	.offer {
		.product-data {
			.product-price {
				font-size: 14px;
				span {
				    font-size: 16px;
				}
			}
		}
		.btn-primary {
		    padding: 10px 5px;
		    font-size: 12px;
		}
	}
	.dropdowns.d-cart {
		.col-7 {
			padding-left: 30px;
		}
	}
}